<a href="https://colab.research.google.com/github/Hfurqan980/Pyhon-List/blob/main/List_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [ ]:
# Write code here
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]



[ [i,j] for i,j in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
inner = list1[2][2] # [5000,6000]
position = inner.index(6000) # take index of 6000
inner.insert(position +1 ,7000) # insert 7000 after 6000
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [ ]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for i,j in zip(candy_list,no_of_items):
  print(i+"-"+j)

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [ ]:
# Write code here
list1 = [1,2,3,4,5,6]
running_sum = []
total = 0
for i in list1:
  total+=i
  running_sum.append(total)
print(running_sum)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [ ]:
# Write code here
list1 = [2,4,6,10,1]
sum1 = 0
running_list = []
for i in range(0,len(list1)):
  for j in range(0,len(list1)):
    if list1[j] >= list1[i]:
      sum +=list1[j]
  running_list.append(sum)
  sum = 0
print(running_list)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
unique_item = []

for i in num1:
  for j in num2:
    if i == j:
      unique_item.append(i)
print(sorted(unique_item))

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
from string import digits
# Write code here
def digit_product(s):
    digits = [int(ch) for ch in s if ch.isdigit()]
    if not digits:
        return 1
    product = 1
    for d in digits:
        product *= d
    return product

list1 = ['1ac21', '23fg', '456', '098d', '1', 'kls']

sorted_list = sorted(list1, key=digit_product, reverse=True)
print(sorted_list)

['456', '23fg', '1ac21', '1', 'kls', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [ ]:
# Write code here

list = ['CampusX is a channel', 'for data-science', 'aspirants.']
new_list = []

for i in list:
  string = i.split()
  new_list.extend(string)
print(new_list)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [ ]:
# Write code here

list = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
list1 = ["".join(i) for i in list]
string_com = " ".join(list1)
print(string_com)

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [ ]:
# Code here
list = ['campusxIs', 'bestFor', 'dataScientist']
list1 = []

for w in list:
  word = ""
  for i in w:
    if i.isupper():
      word = word + " "+ i
    else:
      word+=i
  list1.append(word)
print(list1)

['campusx Is', 'best For', 'data Scientist']

In [ ]:
string = "campusxIs"
new_list = []
word = ""
for i in string:
  if i.isupper():
    word+= " " + i
  else:
    word+=i
new_list.append(word)

print(new_list)

['campusx Is']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [ ]:
# Write code here
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]

# one method
l3 = []
for i in l1 + l2:
  if i not in l3:
    l3.append(i)
print("first method = ",l3)

# Second method
# convert the list into set and then apply the union

union = set(l1) | set(l2)
print("second method ",union)

first method =  [1, 2, 3, 4, 5, 7, 8]
second method  {1, 2, 3, 4, 5, 7, 8}

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [ ]:
# Write code here
l1 = [[1,2,3],[4,5,6],[7,8,9]]
max_num = []

for i in l1:
  maximum = max(i)
  max_num.append(maximum)
print(max_num)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
# Write code here

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [ ]:
# Write code here
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

rows = len(matrix)
cols = len(matrix[0])

for i in range(cols):
  new_list = []
  for j in range(rows):
    new_list.append(matrix[j][i])
  print(new_list)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [ ]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

transpose = [[rows[i] for rows in matrix] for i in range(0,len(matrix))]

for col in transpose:
  print(col)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [ ]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

transpose = []

for i in range(0,len(matrix)):

  for row in matrix:
    transpose.append(row[i])
print(transpose)

[1, 4, 7, 2, 5, 8, 3, 6, 9]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Write code here

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

falten_list = []
for i in range(0,len(matrix)):
  for j in range(0,len(matrix)):
    falten_list.append(matrix[i][j])
print(falten_list)

flat_list = [matrix[i][j] for i in range(0,len(matrix)) for j in range(0,len(matrix))]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
transpose = [[rows[i] for rows in matrix] for i in range(0,len(matrix))]
flat_list = [matrix[i][j] for i in range(0,len(matrix)) for j in range(0,len(matrix))]